<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El amor que siento</title>
    <link rel="stylesheet" href="../css/ElamorQ.css" />
</head>
<body>
    <div id="envelope" onclick="openLetter()">
        <div class="flap"></div>
        <div id="clickMessage">Haz clic para abrir</div>
    </div>

    <div id="letter">
        <h3>Mí niña...</h3>
        <p>
            Cada día que pasa, mi amor por ti crece más y más. 
            Eres una niña fabulosa, no sabes lo que has hecho en mí, lograste sacar una parte
            la cual yo no creia que existia.
        </p>
        <p>
            Gracias a ti recupere el brillo en mi vida, las ganas de volver a ser yo mismo, ese chico divertido que siempre fui aunque amargadito aveces.
            Siento que si te terminas yendo esa parte de mí, ese chico divertido se va a ir contigo, me quedara un vacio sin igual en el corazon,
            gracias a ti he crecido mucho como persona y como me veo a mi mismo.
        </p>
        <p>
            Te amo infinitamente 💙
        </p>
    </div>

    <script src="../js/ElAmorQ.js"></script>
</body>
</html>