<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuestro Futuro</title>
    <link rel="stylesheet" href="../css/NuestroF.css" />
  </head>
  <body>
    <div class="stars"></div>
    <div class="heart enabled">
      <img src="../img/BlueHeart.png" />
    </div>
    <div class="countdown"></div>
    <div class="message"></div>

    <script src="../js/NuestroF.js"></script>
  </body>
</html>
