<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tu Cuerpo</title>
    <link rel="stylesheet" href="../css/Tucuelpito.css" />
  </head>
  <body>
    <div class="logo">
      <h2 class="Cuerpo">Tu Cuerpo</h2>
    </div>
    <div class="carousel-container">
      <div class="carousel">
        <div class="slide">
          <img src="../img/OjitosBellos.jpg" alt="Tus Ojitos" />
          <div class="texto">
            <h2>Tus Ojitos Brillantes</h2>
            <p>Tu mirada cautivadora que brilla al verme y puedo ver un futuro contigo.</p>
          </div>
        </div>
        <div class="slide">
          <img src="../img/labios.jpeg" alt="Tus Labios" />
          <div class="texto">
            <h2>Tus Labios Sensuales</h2>
            <p>El dulce sabor de tus labios cuando se tocan con los mios.</p>
          </div>
        </div>
        <div class="slide">
          <img src="../img/TuCarita.jpeg" alt="Tu Rostro" />
          <div class="texto">
            <h2>Tu Rostro Radiante</h2>
            <p>Tu sonrisa ilumina el mundo, ese rostro esculpido por los mismos dioses no se puede encontrar en cualquiera lado, una mujer tan bella y magnifica como tú</p>
          </div>
        </div>
        <div class="slide">
          <img src="../img/Tu cuerpito.jpg" alt="Tu Figura" />
          <div class="texto">
            <h2>Tu Figura Escultural</h2>
            <p>Cada curva de tu cuerpo es una obra de arte, una tan sensual como esa no se ve todos los dias, tengo un pedazo de mujeron a mi lado con un cuerpo tan fascinante que ella no se imagina </p>
          </div>
        </div>
        <div class="slide">
          <img src="../img/piel.jpeg" alt="Tu Piel Suave" />
          <div class="texto">
            <h2>Tu Piel Suave</h2>
            <p>Esa piel que me encanta cuando se rosa con la mía, siento una sensación que no te imaginas, una sensación que no senti nunca, que no habia experimentado, esa sensación de calidad y amor</p>
          </div>
        </div>
        <div class="slide">
          <img src="../img/linda.jpeg" alt="Tu Cuerpo Completo" />
          <div class="texto">
            <h2>Tu Cuerpo Perfecto</h2>
            <p>Un reflejo de belleza, un cuerpo sin igual, ese cuerpo divino, totalmente proporcional a sus caractesticas, no se deforma ni nada, todo eso dan ganas de comerselo siempre (si supieras como quiero hacerlo, pero me da miedo hacer algo mal)</p>
          </div>
        </div>
      </div>

      <!--Boton de navegación-->
      <div class="navigation">
        <button class="button prev" onclick="moveSlide(-1)">
          <div class="button-box">
            <span class="button-elem">
              <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                ></path>
              </svg>
            </span>
          </div>
        </button>
        <button class="button next" onclick="moveSlide(1)">
          <div class="button-box">
            <span class="button-elem">
              <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
                ></path>
              </svg>
            </span>
          </div>
        </button>
      </div>
    </div>

    <script src="../js/TuCuerpo.js"></script>
  </body>
</html>
