<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tu forma de ser</title>
    <link rel="stylesheet" href="../css/TuFormaDS.css">
</head>
<body>
<div class="valentines-day">
    <div class="envelope"></div>
    <div class="heart"></div>
    <div class="text"> PARA: <br> SAHILY STEFANIA </div>
    <div class="front"></div>
</div>

<div id="card">
    <div class="side one"></div>
        <div class="side two">
        <h2>Para mi amorcito</h2>
            <p>Querida Papayita</p>Ojala supieras lo mucho que eres para mí, una chica sin igual que no pienso encontrar en cualquier lado, la chica que son su actitud timida al inicio de clases me llamo la atención, no hablabamos, pero al momento de tener contacto y charlar, no sabes cuanto me quedaste encantando y queria seguir hablando contigo todos los dias, como me contabas tus historias de como jugabas futbol, de como te golpeabas y todo, recuerdo gran parte de tu personalidad, de esa personalidad que me cautivo en un inicio.</p>
            <p>Ahora esa personalidad timida cambio a una personalidad mas dominante y más caliente podria decir, quien diria que esa chica tan timida tendria ese lado tan divino, eso fue lo que me termino de cautivar por completo, Dios mio, me encanta esa personalidad en la que me demuestras totalmente que me deseas, pero tambien me gusta pasar tiempo con mi taty penosa, esa actitud que le da pena todo y se pone roja por algunas cosas y a veces logro ponerla nerviosa, bueno solo como 2 veces, pero me gusto verte asi, mi niña, te amo, más de lo que crees y mi amor por ti jamas va a cambiar.</p>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="../js/TuFormaDS.js"></script>

</body>
</html>